html{
	background-color: #0b1522;
	border: 4px white solid;
}

h1{
	background-color: #781118;
	color: white;
	padding: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 25%;
	margin-left: none;
}



.post{
	border: 4px solid white;
	width: 90%;
	color:white;
}

.post figure{
	color: red;
	}


.item{
	width: 90%;
	float: right;
}

figure{
	float: left;
	width: 25%;
}

footer
