/*desktop*/



html{
	background-color: #0b1522;
}

/*AA Div*/

h1{
	font-size: 36px;
	background-color: #780116;
	color: white;
	padding: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	border: 5px groove white;
	border-radius: 3px;
	text-align: center;
	font-family: 'Poiret One', Helvetica;
}

.bar{
	margin: 5% 5%;
	overflow: auto;
	border: 2px solid white;
	border-radius: 10px;
	width: 90%;
	background-color: #780116
	

}

h4{
	margin-top: 2%;
	margin-bottom: .5%;
	font-family:cursive;
	font-size: 40px;
	text-align: center;
	color: #FFFF66;
}

.address{
	text-align: center;
	font-size:20px;
	color: #FFFF66;
	font-family: 'Poiret One', Helvetica;
	margin-bottom: 1%;
	margin-top: .01%;
}

.content{
	margin-left: 5%;
	margin-top: 1%;
	padding: .5em;
	font-family: 'Poiret One', Helvetica;
	color: white;
	width:40%;
	float:left;
	font-size: 24px;
}

.sidebar{
	width: 45%;
	margin-bottom: 5%;
	float: right;
	font-family: Tahoma;
}



/*tablet*/

@media only screen and (min-width:720px) and (max-width:985px){
	.content{
		float: none;
		text-align: center;
		margin:auto;
	}

	.sidebar{
		float: none;
		margin: auto;
		margin-bottom: 5%;
	}
}

/*mobile*/

@media only screen and (max-width:719px){
	.content{
		float: none;
		text-align: center;
		margin: auto;
	}

	.sidebar{
		display: none;
	}
	
}
