* {
	font-family: 'Poiret One', Helvetica;
}

nav {
	width: 95%;
	display: inline-block;
	background-color: #2c3e50;

	position: absolute;
	left: 1.5%;
	padding: 8px;
	border: 3px solid black;
	border-radius: 30px;
}

#current {
	background-color: #f1c40f;
	color: #2c3e50;
}

.button {
	width: 17.3%;
	display: inline-block;
	text-align: center;
	font-size: 24px;
	background-color: #ecf0f1;
	color: #2c3e50;
	padding: 1%;
	border: 2px solid black;
	border-radius: 30px;
}

.button:hover {
	background-color: #34495e;
	color: #f1c40f;
	transition: 0.5s ease;
}

.button:active {
	background-color: #ecf0f1;
	color: #2c3e50;
}

a {
	text-decoration: none;
	color: #2c3e50;
}