#navHeader {
	margin-bottom: 10%;
}

#navBar {
	display: inline-block;
	background-color: #2c3e50;

	position: absolute;
	left: 1.5%;
	padding: 8px;
	border: 3px solid black;
	border-radius: 30px;
}

#current {
	background-color: #f1c40f;
	color: #2c3e50;
}

.button {
	display: inline-block;
	text-align: center;
	font-size: 24px;
	background-color: #ecf0f1;
	color: #2c3e50;
	border: 2px solid black;
	border-radius: 30px;
}

.navLink {
	text-decoration: none;
	color: #2c3e50;
	background-color: #2c3e50;
}

footer {
	text-align: center;
	font-size: 14px;
	margin: 1.5% 0%;
}

@media only screen and (max-width: 719px) {
	#navBar {
		width: 90%;
	}

	.button {
		width: 44%;
		padding: 6% 1.5%;
		margin: 0.2% 0.25%;
	}
}

@media only screen and (min-width: 720px) {
	#navBar {
		width: 95%;
	}

	.button {
		width: 16.4%;
		padding: 1%;
	}

	.navLink {
		text-decoration: none;
		color: #2c3e50;
	}
}

@media only screen and (min-width: 985px) {
	#navBar {
		width: 95%;
	}

	.button {
		width: 16.8%;
		padding: 1%;
	}

	.button:hover {
		background-color: #34495e;
		color: #f1c40f;
		transition: 0.5s ease;
	}

	.button:active {
		background-color: #ecf0f1;
		color: #2c3e50;
		transition: 0s ease;
	}
}