* {
	font-family: 'Poiret One', Helvetica;
	font-size: 23px;
	background-color: #0b1522;
	color: white;
}

#title {
	text-align: center;
	font-size: 44px;
	background-color: #0b1522;
	color: white;
	padding: 5%;
	border: 3px groove white;
	border-radius: 3px;
	background-image: url("AAbackground.png");
}

section {
	margin: 3% 4%;
	padding: 1% 2%;
	border: 2px solid white;
	border-radius: 10px;
}

.topic {
	font-size: 34px;
	font-style: italic;
	color: #f1c40f;
	text-align: center;
}

.leftImages {
	float: left;
	margin: 1%;
}

.rightImages {
	float: right;
	margin: 0% 1% 1% 1%;
}

.content {	
	margin: 1%;
}

#two {
	clear: left;
}

footer{
	bottom: 0;
	position: relative;
}

@media only screen and (max-width: 719px) {
	.leftImages, .rightImages {
		display: none;
	}

	section {
		position: relative;
		top: 325px;
	}
}

@media only screen and (min-width: 720px) {
	.topic {
		display: none;
	}
}

@media only screen and (min-width: 985px) {
	.topic {
		display: none;
	}
}
